@import 'breakpoints';

.cookiepolicy {
	$parent: &;

	top: 0;
	background-color: #eee;
	color: var(--clr-black);

	&__main {
		padding: 20px 0;
	}

	.content {
		font-size: 80%;
		max-width: none;

		@include breakpoint($md) {
			> *:last-child {
				margin-bottom: 0;
			}
		}
	}

	// TODO:  this
	@include breakpoint($md) {
		.content-block {
			&__body {
				display: flex;

				> *:not(:first-child) {
					margin-left: 10px;
				}
			}
		}
	}
}
